<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>609784996081-m6192nuviqii2li0fc9093rrfrpq4a5q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.609784996081-m6192nuviqii2li0fc9093rrfrpq4a5q</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>609784996081-92g8687q78q7q14ggbv37uant4mahi7e.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDVMqEQ3R0EQ459xRlBBa3Se-kCTnH3p_o</string>
	<key>GCM_SENDER_ID</key>
	<string>609784996081</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.github.taalaydev.paletteMaster</string>
	<key>PROJECT_ID</key>
	<string>myproject-7353f</string>
	<key>STORAGE_BUCKET</key>
	<string>myproject-7353f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:609784996081:ios:573e270bc07ebb82b98950</string>
	<key>DATABASE_URL</key>
	<string>https://myproject-7353f.firebaseio.com</string>
</dict>
</plist>